.container{
    
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto ;
    min-width: 370px;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card-desc{
    color: #43806C;
    font-family: "Raleway";
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 15px;
}
.card-tit{
    color: #214E41;
    font-size: 20px;
    line-height: 26px;
    font-family: "Roboto";
    width: 313px;
    height: 52px;
}
.card-img{
    margin-bottom: 20px;
}
.card{
    width: calc((100% - 80px) / 3);
}
